<!-- Generated template for the ListWordComponent component -->
<div>
  <span *ngFor="let i of indents"></span>
  <ion-icon name="md-arrow-dropright" *ngIf="!word.isLeaf && !showChilds" (click)="showChilds=true"></ion-icon>
  <ion-icon name="md-arrow-dropdown" *ngIf="!word.isLeaf && showChilds" (click)="showChilds=false"></ion-icon>
  <span (click)="doClick()">
    {{ word.key }}
  </span>
  <div *ngIf="showChilds" >
    <list-word class="sl-list-word" *ngFor="let w of word.nodes" [word]="w" [list]="word"></list-word>
  </div>
</div>
