<!-- Generated template for the ListWordComponent component -->
<div *ngIf="!shouldIgnore">
  <span *ngFor="let i of indents"></span>
  <ion-icon name="md-arrow-dropright" *ngIf="!list.isLeaf && !showChilds" (click)="showChilds=true"></ion-icon>
  <ion-icon name="md-arrow-dropdown" *ngIf="!list.isLeaf && showChilds" (click)="showChilds=false"></ion-icon>
  <ion-icon name="code-working" color="marine" *ngIf="list.isLeaf"></ion-icon>
  <span (click)="doClick()">
    {{ word }}
  </span>
  <div *ngIf="showChilds" >
    <list-word class="sl-list-word" *ngFor="let w of words" [word]="w" [list]="list[w]" [level]="level+1"></list-word>
  </div>
</div>
