<ion-header>
  <ion-toolbar>

      <div class="menu-option" float-start (click)="doInitFrom()">
        <ion-icon name="ios-folder-outline"></ion-icon>
        <p>Init from...</p>
      </div>
      <div class="menu-option" [ngClass]="{'menu-disabled': true}" float-start (click)="doNewProject()">
        <ion-icon name="ios-folder-outline"></ion-icon>
        <p>New Project</p>
      </div>
      <div class="menu-option" float-start (click)="doOpenProject()">
        <ion-icon name="ios-folder-open-outline"></ion-icon>
        <p>Open Project</p>
      </div>
      <div class="menu-option" float-start [ngClass]="{'menu-disabled': !projectNeedsSaving}" (click)="doSaveProject()">
        <ion-icon name="md-download"></ion-icon>
        <p>Save Project</p>
      </div>
      <div class="menu-option" float-start [ngClass]="{'menu-disabled': !translationsNeedsSaving}" (click)="doSaveTranslations()">
        <ion-icon name="md-chatboxes"></ion-icon>
        <p>Save Translations</p>
      </div>
  
      <div class="menu-option" float-end (click)="doOpenSettings()">
        <ion-icon name="options"></ion-icon>
        <p>Settings</p>
      </div>
    
  </ion-toolbar>
</ion-header>

<ion-content no-padding>

  <div class="sl-main-container">

    <div class="sl-list-container">
      <h3>{{ "langs.keys" | translate }}</h3>
      
      <list-word class="sl-list-word" *ngFor="let word of words" [word]="word" [list]="translations.i18n[word]"></list-word>
    </div>

    <div class="sl-translations-container">
      <h3>
        {{ "langs.edit_translations" | translate }}
        <span *ngFor="let lang of translations.languages">[{{ lang }}]</span>
      </h3>

    </div>
  </div>


  <!--button ion-button (click)="doZoomIn()">+</button>
  <button ion-button (click)="doZoomOut()">-</button-->
</ion-content>
